<%- include ("templates/encabezado.ejs", {titulo:"Editar contacto"}) %>
  <form action="/editarContacto" id="formulario" method="POST">
    <input type="hidden" name="id" id="id" value="<%= contactoBD.id %>">
    <label>Nombre</label>
    <input class="form-control mb-3" type="text" name="nombre" placeholder="Nombre" value="<%= contactoBD.nombre %>">

    <label>Edad</label>
    <input class="form-control mb-3" type="text" name="edad"  placeholder="Edad" value="<%= contactoBD.edad %>">

    <button type="submit" class="btn btn-primary">Actualizar datos</button>
  </form>
<%- include ("templates/pie.ejs") %>