<%- include ("templates/encabezado.ejs", {titulo:"Mostrar contactos"}) %>
<table border="1" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Edad</th>
			<th>Editar / Borrar</th>
		</tr>
	</thead>
	<tbody>
		<% contactosBD.forEach ( (contacto) =>{%>
		<tr>
			<td> <%= contacto.nombre %> </td>
			<td> <%= contacto.edad %> </td>
			<td>
				<a href="/editar/<%= contacto._id %>">Editar </a>
				<a href="/borrar/<%= contacto._id %>"> Borrar</a>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>
<%- include ("templates/pie.ejs") %>